/Library/dist/
/Server/dist/
/Client/dist/
/HiRpcJ7/build/
/Library/build/
/HiRpcJ7/dist/
/Server/build/
/Client/build/
/Library/nbproject
/Server/nbproject
/Client/nbproject
/HiRpcJ7/nbproject
/Library/nbproject
/HiRPC/build/
Client/nbproject/private/private.xml
HiRPC/nbproject/private/private.xml
Server/nbproject/private/private.xml